<div [class.shop-car-empty]="emptyCart()"
     class="shop-cart">

  <a class="cart-icon" routerLink="cart"

  ></a>
  <div (click)="showSideCart()"
       class="shop-cart-count">{{countProducts}}</div>


  <div *ngIf="cartIsShow && countProducts"
       [@slideInOut]
       class="shop-cart-container">
    <div (click)="hideSideCart()"
         class="shop-cart-close">
      <div class="close-icon close-icon-white"></div>
    </div>

    <div class="shop-cart-container-content">
      <perfect-scrollbar style="max-width: 600px; max-height: 65vh">

        <div class="shop-cart-products-list">
          <app-cart-item *ngFor="let item of productsInCart"
                         [productItem]="item"
          ></app-cart-item>
        </div>
      </perfect-scrollbar>

      <div class="total-count-wrapper">
        <div class="total-count-title">Итого</div>
        <div class="total-count">{{ totalPrice | currency: 'USD' : 'symbol' : '1.0-0'}}</div>
      </div>
    </div>


    <div class="shop-cart-footer">
      <button class="btn btn-full-width btn-white">КУПИТЬ</button>
    </div>
  </div>
</div>
