@import "partials/varitables";

.shop-cart {
  display: flex;
  align-items: center;
  position: relative;

  .cart-icon {
    margin-right: 8px;
    cursor: pointer;
  }

  .shop-cart-count {
    min-width: 20px;
    padding: 0 5px;
    max-width: 40px;
    height: 20px;
    font-weight: $font-weight-bold;
    background: $text-color;
    color: $white-color;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }

  &.shop-car-empty {
    opacity: $opacity-elements;
    cursor: default;

    .shop-cart-count {
      display: none;
    }
  }

  .shop-cart-container {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 420px;
    max-width: 100vw;
    background: $bg-cart;
    padding: 40px;

    .shop-cart-close {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 75px;
    }
  }


}
