@import "partials/varitables";

.shop-cart {
  display: flex;
  align-items: center;
  position: relative;

  .cart-icon {
    margin-right: 8px;
    cursor: pointer;
  }

  .shop-cart-count {
    min-width: 20px;
    padding: 0 5px;
    max-width: 40px;
    height: 20px;
    font-weight: $font-weight-bold;
    background: $text-color;
    color: $white-color;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }

  &.shop-car-empty {
    .cart-icon {
      opacity: $opacity-elements;
      cursor: default;
    }

    .shop-cart-count {
      display: none;
    }
  }

  .shop-cart-container {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 420px;
    max-width: 100%;
    min-width: 320px;
    background: $bg-cart;
    padding: 40px;
    color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .shop-cart-close {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 40px;
      top: 40px;
    }

    .shop-cart-container-content {
      padding-top: 75px;
    }
  }

  .total-count-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
    font-size: $font-size-sl;
    font-weight: $font-weight-bold;
  }

  :host {
    .ps-content {
      padding-right: 15px;
    }
  }


}
