<div class="shop-cart"
     [class.shop-car-empty]="emptyCart()">

  <a routerLink="cart" class="cart-icon"

  ></a>
  <div class="shop-cart-count"
       (click)="showSideCart()">{{countProducts}}</div>


  <div class="shop-cart-container"
       *ngIf="cartIsShow"
       [@slideInOut]>
    <div class="shop-cart-close"
         (click)="hideSideCart()">
      <div class="close-icon close-icon-white"></div>
    </div>

    <div class="shop-cart-container-content">
      <perfect-scrollbar style="max-width: 600px; max-height: 65vh">

        <div class="shop-cart-products-list">
          <app-cart-item *ngFor="let item of productsInCart"
          ></app-cart-item>
        </div>
      </perfect-scrollbar>

      <div class="total-count-wrapper">
        <div class="total-count-title">Итого</div>
        <div class="total-count">{{ 666 | currency: 'USD' : 'symbol' : '1.0-0'}}</div>
      </div>
    </div>


    <div class="shop-cart-footer">
      <button class="btn btn-full-width btn-white">КУПИТЬ</button>
    </div>
  </div>
</div>
