@import "partials/varitables";

.nav-bar-cart {
  display: flex;
  align-items: center;
  cursor: pointer;

  .cart-icon {
    margin-right: 8px;
  }

  .cart-count {
    width: 20px;
    height: 20px;
    font-weight: $font-weight-bold;
    background: $text-color;
    color: $white-color;
    text-align: center;
    line-height: 20px;
    .empty-car{
      opacity: 0.7;
    }
  }
}
