@import "./partials/varitables";
@import "./partials/reboot";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

@import "partials/layout";
@import "./partials/icons";
@import "./partials/buttons";
@import "./partials/select";

body {
  font-size: $font-size-base;
  font-family: $font-family;
  font-weight: $font-weight-base;
  background: $bg-body;
}
