@import "partials/varitables";

.navbar {
  position: relative;
  top: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  align-content: center;
  justify-content: center;

  .navbar-logo {
    display: block;
    width: 106px;
    height: 39px;
    margin: 0 auto;
  }

  .nav-bar-actions {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
