.btn{
  display: inline-block;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-sl;

  letter-spacing: 2px;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;

  vertical-align: middle;
  user-select: none;
  cursor: pointer;

  background-color: transparent;
  border-width: $btn-border-width;
  border-style: solid;
  border-color: transparent;
  padding: 20px 23px;


  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $opacity-elements;
  }

  &:not([disabled]):hover,
  &:not(.disabled):hover{
    transition: opacity 0.22s;
    opacity: $opacity-hover
  }

  &.btn-dark{
    border-color: $btn-color-dark;
  }

  &.btn-white{
    color: $btn-color-white;
    border-color: $btn-color-white;
  }

  &.btn-full-width{
    width: 100%;
  }

}
