$font-family: 'Roboto', sans-serif;
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-base: 1.4rem;
$font-size-sl: 1.6rem;
$font-size-xl: 2rem;
$font-size-xxl: 4rem;


$font-weight-base: 300;
$font-weight-bold: 500;


//Colors
$text-color: #000000;
$link-color:  #000000;
$grey-color: #A3A3A3;
$grey-color-dark: #424242;
$white-color:  #fff;

$btn-color-dark: #000000;
$btn-color-white: #fff;

//Backgrounds:
$bg-body: #F2F2F2;
$bg-cart: #2B2B2B;


//Sizes
$btn-border-width: 2px;

$opacity-elements: 0.5;
$opacity-hover: 0.6;
