<div class="side-bar">
  <ul class="side-bar-menu">
    <li (click)="selectCategory(undefined)"
        [class.active]="selectedCategory === undefined"
        class="side-bar-menu_item">Все
    </li>
    <li (click)="selectCategory('Плащи')"
        [class.active]="selectedCategory === 'Плащи'"
        class="side-bar-menu_item">Плащи
    </li>
    <li (click)="selectCategory('Кроссовки')"
        [class.active]="selectedCategory === 'Кроссовки'"
        class="side-bar-menu_item">Кроссовки
    </li>
    <li (click)="selectCategory('Рубашки')"
        [class.active]="selectedCategory === 'Рубашки'"
        class="side-bar-menu_item">Рубашки
    </li>

    <!--TODO: to separate single component   -->
    <li class="side-bar-menu_item">
      <span [class.shop-select-open]="showSelect"
            class="shop-select">
        <span (click)="showSelect = !showSelect"
              class="select-label"
        >Сортировать <i class="select-icon"></i></span>
        <ul *ngIf="showSelect"
            [@slideUpDown]
            class="select-options">
          <li (click)="selectSorting(DESC)"
              [class.active]="selectedSorting === DESC"
              class="select-options-item active"
          >От дорогих к дешевым</li>
          <li (click)="selectSorting(ASC)"
              [class.active]="selectedSorting === ASC"
              class="select-options-item"
          >От дешевых к дорогим</li>
          <li (click)="selectSorting('popular')"
              [class.active]="selectedSorting === 'popular'"
              class="select-options-item"
          >Популярные</li>
          <li (click)="selectSorting('new')"
              [class.active]="selectedSorting === 'new'"
              class="select-options-item"
          >Новые</li>
        </ul>
      </span>

    </li>
  </ul>
</div>

