<div class="cart-item-wrapper">
  <div class="cart-item-image-container">
    <img [src]="productItem.thumbImage"
         alt=""
         class="cart-item-image">
  </div>
  <div class="cart-item-info">
    <div class="cart-item-info-name">{{productItem.name}}</div>
    <div class="cart-item-info-count-wrapper">
      <div class="cart-item-info-count-select">
        <div (click)="decrementCountProduct()"
             class="count-select decrement-count"
        > -
        </div>
        <input #productCount="ngModel"
               (change)="productCountChanged(productCount)"
               [(ngModel)]="countOfProducts"
               class="count-products"
               max="99"
               min="0"
               name="count-products"
               type="number"
        >
        <div (click)="incrementCountProduct()"
             class="count-select increment-count"> +
        </div>
      </div>
      <div class="cart-item-info-count-price">{{productItem.price | currency: 'USD' : 'symbol' : '1.0-0'}}</div>
    </div>
  </div>
</div>
